:root{
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: var(--font-family);
    min-height: 50vh;
}
#add-task-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}
#add-task-btn:hover{
    background-color: #45a049;
}  
.enter{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#clear-task-btn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}
#clear-task-btn:hover{
    background-color: #e53935;
}
#task-list{
    list-style-type: none;
    margin-top: 20px;
}
#task-list li{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s;
}
.fade-out{
    opacity: 0;
}
.loading-text{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

@keyframes pulse{
    0%{
        opacity: 0.5;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0.5;
    }
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
.delete-btn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}